<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      throwExceptions="false"
      autoReload="true">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Targets.ElasticSearch" />
	</extensions>

	<targets async="true">
		<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
			<target xsi:type="ElasticSearch"
				uri="http://localhost:9200/"
				index="pmp-nlog-elk-${date:format=yyyy.MM.dd}"
				documentType="logevent"
				includeAllProperties="false">
				<field name="message" layout="${message}" />
				<field name="exception" layout="${exception:format=toString}" />
				<field name="machineName" layout="${machinename}" />
				<field name="clientIp" layout="${aspnet-request-ip}" />
				<field name="traceId" layout="${aspnet-TraceIdentifier}" />
				<field name="time" layout="${longdate}" />
				<field name="level" layout="${level:uppercase=true}" />
				<field name="logger" layout=" ${logger}" />
				<field name="processId" layout=" ${processid}" />
				<field name="threadName" layout=" ${threadname}" />
				<field name="stackTrace" layout=" ${stacktrace}" />
			</target>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="elastic" />
	</rules>
</nlog>
